body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: 100%;
    color: rgb(35, 39, 43);
}

#container1 {
    margin-top: 9%;
    padding-bottom: 0.3rem;
    border-radius: 25px;
    background: rgba(132, 126, 78, 0.8);
    width: 35%;
    min-width: 300px;
    max-width: 550px;
}

#container1-r {
    margin-top: 9%;
    margin-bottom: 9%;
    padding-bottom: 2rem;
    border-radius: 25px;
    background: rgba(132, 126, 78, 0.8);
    width: 35%;
    min-width: 300px;
    max-width: 550px;
}

#containerT {
    padding-top: 25px;
    padding-bottom: 25px;
}

#container2 {
    padding-left: 42px;
    padding-right: 42px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

b.inputs {
    font-size: 20px;
}

.b_SignIn {
    margin-top: 0.7rem;
    width: 100%;
    max-width: 359px;
}

.b_SendMail {
    width: 100%;
    max-width: 359px;
}

#registro {
    padding-top: 1.4rem;
    font-size: 15px;
}

a:visited {
    color: #0c1818;
}

a:link {
    color: #0c1818;
}

a:hover {
    color: #ccc;
}

label.error {
    color: red;
    display: inline;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}